body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #00c6ff, #0072ff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.container {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  padding: 40px;
  text-align: center;
  width: 360px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

h1 {
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#cityInput {
  padding: 10px;
  border: none;
  border-radius: 8px 0 0 8px;
  width: 70%;
  outline: none;
  font-size: 16px;
}

#searchBtn {
  border: none;
  background: #ff9800;
  color: white;
  padding: 10px 15px;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  transition: 0.3s;
}

#searchBtn:hover {
  background: #ffa726;
}

.weather-info {
  font-size: 18px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  padding: 15px;
}
